#addcart
{
    -fx-background-color: rgba(238, 83, 0, 0.55);
    -fx-text-fill : rgba(41, 0, 18, 0.96);
}
#addcart:hover{
    -fx-background-color : rgba(255, 119, 0, 0.42);
}
#addcart:pressed
{
    -fx-background-color : rgba(255, 51, 0, 0.71);
}

#btnPay {
    -fx-background-color: rgba(187, 189, 191, 0.6);
    -fx-text-fill : rgba(41, 0, 18, 0.96);
}
#btnPay:hover{
    -fx-background-color : rgba(111, 111, 121, 0.5);
}
#btnPay:pressed
{
    -fx-background-color : rgba(230, 231, 238, 0.71);
}

#btnDeletRamen {
    -fx-background-color: rgba(255, 42, 49, 0.26);
    -fx-text-fill : rgba(41, 0, 18, 0.96);
}
#btnDeletRamen:hover{
    -fx-background-color : rgba(255, 0, 6, 0.55);
}
#btnDeletRamen:pressed
{
    -fx-background-color : rgba(255, 65, 60, 0.44);
}

#welcomePnl{
    -fx-background-image: url("./images/WelcomeBG.png");
    -fx-background-size: 793px 576px;
    -fx-background-radius: 6px;

}
#RamenPnl {
    -fx-background-image: url("./images/RamenBG1.png");
    -fx-background-size: 793px 576px;
    -fx-background-radius: 6px;
}

#InfoPnl {
    -fx-background-image: url("./images/InfoBG.png");
    -fx-background-size: 793px 576px;
    -fx-background-radius: 6px;
}
#CartPnl {
    -fx-background-image: url("./images/CartBG4.png");
    -fx-background-size: 793px 576px;
    -fx-background-radius: 6px;
}
#StampPnl {
    -fx-background-image: url("./images/StampBG4.png");
    -fx-background-size: 793px 576px;
    -fx-background-radius: 6px;
}

#subNori,#subBoiledEgg,#addBoiledEgg,#subChashu,#addNori,#addChashu,#subBambooShoot,#addBambooShoot{
    -fx-background-color : transparent;
    -fx-text-fill : #000000;
    -fx-background-image:url("./images/button_back.png") ;
}

#btnOK {
    -fx-background-color: rgba(238, 83, 0, 0.55);
    -fx-text-fill : rgba(41, 0, 18, 0.96);
}
#btnOK:hover{
    -fx-background-color : rgba(255, 119, 0, 0.42);
}
#btnOK:pressed
{
    -fx-background-color : rgba(255, 51, 0, 0.71);
}

#btnCancel {
    -fx-background-color: rgba(238, 163, 174, 0.55);
    -fx-text-fill : rgba(41, 0, 18, 0.96);
}
#btnCancel:hover{
    -fx-background-color : rgba(255, 209, 221, 0.24);
}
#btnCancel:pressed
{
    -fx-background-color : rgba(255, 162, 160, 0.71);
}


.scroll-pane {
    -fx-background-color : transparent;
}
#RamenItems{
    -fx-background-image:url("./images/RamenItemBG.png") ;
}
#itemRamen{
    -fx-background-image:url("./images/RamenItemBG.png") ;
    -fx-border-color: rgba(0, 0, 0, 0.35);
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: rgba(235, 205, 183, 0.42);
}

.increment-button, .decrement-button {
    -fx-background-color: rgba(89, 44, 41, 0.48);
    -fx-border-color: rgba(253, 63, 50, 0);
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(89, 8, 0, 0.36);
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: rgba(89, 8, 0, 0.35);
}
